body {
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: gold;
    border-bottom: 2px solid black;
}

#img-container {
    width: 100px;
    padding: 0 1rem;
}

img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
}

#text-container {
    background-color: black;
    padding: 0 1rem;
    text-align: right;
    width: 200px;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 500;
}

#h3 {
    color: gold;
}

#title {
    margin-top: 0;
    padding-bottom: .25rem;
    border-bottom: 1px solid gold;
    font-size: .8rem;
    text-transform: uppercase;
}

#links {
    display: flex;
    justify-content: right;
}

a {
    display: flex;
}

svg {
    width: 1.35rem;
    background-color: gold;
    border-radius: 50%;
    margin-left: .5rem;
    padding: .15rem .25rem;
    fill: white;
}

svg:hover {
    outline: 2px solid white;
}

.contact {
    font-size: .7rem;
}

.top {
    margin-bottom: 0;
}

.bot {
    margin-top: 0;
}